
*{
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;


}

.container{
    border: 3px solid ;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 70%;
    padding: 20px;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;

}
.title{
    border-radius: 7px;
    margin-bottom: 4px;
}


.form input{
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 3px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(176, 14, 201);
    color: white;
    width: 100%;
    height: 45px;
    font-size: 18px;

}

.form button:hover{
    color: white;
    background-color: rgb(117, 13, 133);


}

.principal{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(102, 9, 116);
}


body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,74,149,1) 35%, rgba(198,3,231,0.5747549019607843) 100%);


}

footer{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.749);
    margin-top: 200px;
}
